.base {
    display: block;
}


/* background-color */

.backgroundColorRed {
    background-color: var(--color-red);
}

.backgroundColorBlue {
    background-color: var(--color-blue);
}

.backgroundColorYellow {
    background-color: var(--color-yellow);
}


/* display */

.displayInline {
    display: inline;
}

.displayInlineBlock {
    display: inline-block;
}


/* flex-grow */

.flexGrow0 {
    flex-grow: 0;
}

.flexGrow1 {
    flex-grow: 1;
}


/* flex-shrink */

.flexShrink0 {
    flex-shrink: 0;
}

.flexShrink1 {
    flex-shrink: 1;
}


/* margin-block */

.marginBlock1 {
    margin-block: var(--space-1);
}

.marginBlock2 {
    margin-block: var(--space-2);
}

.marginBlock3 {
    margin-block: var(--space-3);
}

.marginBlockEnd1 {
    margin-block-end: var(--space-1);
}

.marginBlockEnd2 {
    margin-block-end: var(--space-2);
}

.marginBlockEnd3 {
    margin-block-end: var(--space-3);
}

.marginBlockStart1 {
    margin-block-start: var(--space-1);
}

.marginBlockStart2 {
    margin-block-start: var(--space-2);
}

.marginBlockStart3 {
    margin-block-start: var(--space-3);
}


/* margin-inline */

.marginInline1 {
    margin-inline: var(--space-1);
}

.marginInline2 {
    margin-inline: var(--space-2);
}

.marginInline3 {
    margin-inline: var(--space-3);
}

.marginInlineEnd1 {
    margin-inline-end: var(--space-1);
}

.marginInlineEnd2 {
    margin-inline-end: var(--space-2);
}

.marginInlineEnd3 {
    margin-inline-end: var(--space-3);
}

.marginInlineStart1 {
    margin-inline-start: var(--space-1);
}

.marginInlineStart2 {
    margin-inline-start: var(--space-2);
}

.marginInlineStart3 {
    margin-inline-start: var(--space-3);
}


/* padding-block */

.paddingBlock1 {
    padding-block: var(--space-1);
}

.paddingBlock2 {
    padding-block: var(--space-2);
}

.paddingBlock3 {
    padding-block: var(--space-3);
}

.paddingBlockEnd1 {
    padding-block-end: var(--space-1);
}

.paddingBlockEnd2 {
    padding-block-end: var(--space-2);
}

.paddingBlockEnd3 {
    padding-block-end: var(--space-3);
}

.paddingBlockStart1 {
    padding-block-start: var(--space-1);
}

.paddingBlockStart2 {
    padding-block-start: var(--space-2);
}

.paddingBlockStart3 {
    padding-block-start: var(--space-3);
}


/* padding-inline */

.paddingInline1 {
    padding-inline: var(--space-1);
}

.paddingInline2 {
    padding-inline: var(--space-2);
}

.paddingInline3 {
    padding-inline: var(--space-3);
}

.paddingInlineEnd1 {
    padding-inline-end: var(--space-1);
}

.paddingInlineEnd2 {
    padding-inline-end: var(--space-2);
}

.paddingInlineEnd3 {
    padding-inline-end: var(--space-3);
}

.paddingInlineStart1 {
    padding-inline-start: var(--space-1);
}

.paddingInlineStart2 {
    padding-inline-start: var(--space-2);
}

.paddingInlineStart3 {
    padding-inline-start: var(--space-3);
}
