:global(:root) {
  /* Border-radius */

  --border-radius-1: 0.4rem;

  /* Colors */
  --color-primary-50: #fafafa;
  --color-primary-100: #f4f4f5;
  --color-primary-200: #e4e4e7;
  --color-primary-300: #d4d4d8;
  --color-primary-400: #d4d4d8;
  --color-primary-500: #71717a;
  --color-primary-600: #52525b;
  --color-primary-700: #3f3f46;
  --color-primary-800: #27272a;
  --color-primary-900: #18181b;
  --color-primary-950: #09090b;

  /*
  --color-error-50: #fef2f2;

  */
  --color-error-100: #fee2e2;

  /*
  --color-error-200: #fecaca;
  --color-error-300: #fca5a5;
  --color-error-400: #f87171;
  --color-error-500: #ef4444;
  */
  --color-error-600: #dc2626;
  --color-error-700: #b91c1c;
  /*
  --color-error-800: #991b1b;
  --color-error-900: #7f1d1d;
  --color-error-950: #450a0a;
  */

  /*
  --color-success-50: #ecfdf5;
  --color-success-100: #d1fae5
  --color-success-200: #a7f3d0;
  --color-success-300: #6ee7b7;
  --color-success-400: #34d399;
  --color-success-500: #10b981;
  */
  --color-success-600: #059669;
  --color-success-700: #047857;
  /*
  --color-success-800: #065f46;
  --color-success-900: #064e3b;
  --color-success-950: #022c22;
  */

  /* Font-size */

  --font-size-0: 1rem;
  --font-size-1: 1.2rem;
  --font-size-2: 1.4rem;
  --font-size-3: 1.6rem;
  --font-size-4: 1.8rem;
  --font-size-5: 2rem;
  --font-size-6: 2.4rem;
  --font-size-7: 3rem;

  /* Font-weight */

  --font-weight-regular: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;

  /* Line-height */

  --line-height-0: 1;
  --line-height-1: 1.25;
  --line-height-2: 1.375;
  --line-height-3: 1.5;

  /* Spacing - based on the magic number 0.4rem. */

  --space-0: 0;
  --space-1: 0.4rem;
  --space-2: 0.8rem;
  --space-3: 1.2rem;
  --space-4: 1.6rem;
  --space-5: 2rem;
  --space-6: 2.4rem;
  --space-7: 3.2rem;
  --space-8: 4rem;
  --space-9: 4.8rem;
  --space-10: 5.6rem;

  /* z-index */

  --z-page: 10;
  --z-sticky: 20;
  --z-popover: 30;
  --z-dialog: 40;
}
