.base {
  display: flex;
}

/* flex-direction */

.directionRow {
  flex-direction: row;
}

.directionColumn {
  flex-direction: column;
}

/* align-items */

.alignItemsCenter {
  align-items: center;
}

.alignItemsStart {
  align-items: start;
}

.alignItemsEnd {
  align-items: end;
}

.alignItemsStretch {
  align-items: stretch;
}

/* justify-content */

.justifyContentCenter {
  justify-content: center;
}

.justifyContentStart {
  justify-content: start;
}

.justifyContentEnd {
  justify-content: end;
}

.justifyContentStretch {
  justify-content: stretch;
}

.justifyContentSpaceBetween {
  justify-content: space-between;
}

/* gap */

.gap0 {
  gap: var(--space-0);
}

.gap1 {
  gap: var(--space-1);
}

.gap2 {
  gap: var(--space-2);
}

.gap3 {
  gap: var(--space-3);
}

.gap4 {
  gap: var(--space-4);
}

.gap5 {
  gap: var(--space-5);
}

.gap6 {
  gap: var(--space-6);
}

.gap7 {
  gap: var(--space-7);
}

.gap8 {
  gap: var(--space-8);
}

.gap9 {
  gap: var(--space-9);
}

.gap10 {
  gap: var(--space-10);
}
