/* color */
.colorPrimary50 {
  color: var(--color-primary-50);
}

.colorPrimary100 {
  color: var(--color-primary-100);
}

.colorPrimary200 {
  color: var(--color-primary-200);
}

.colorPrimary300 {
  color: var(--color-primary-300);
}

.colorPrimary400 {
  color: var(--color-primary-400);
}

.colorPrimary500 {
  color: var(--color-primary-500);
}

.colorPrimary600 {
  color: var(--color-primary-600);
}

.colorPrimary700 {
  color: var(--color-primary-700);
}

.colorPrimary800 {
  color: var(--color-primary-800);
}

.colorPrimary900 {
  color: var(--color-primary-900);
}

.colorPrimary950 {
  color: var(--color-primary-950);
}

.colorError600 {
  color: var(--color-error-600);
}

.colorError700 {
  color: var(--color-error-700);
}

.colorSuccess600 {
  color: var(--color-success-600);
}

.colorSuccess700 {
  color: var(--color-success-700);
}

/* font-size */

.size0 {
  font-size: var(--font-size-0);
}

.size1 {
  font-size: var(--font-size-1);
}

.size2 {
  font-size: var(--font-size-2);
}

.size3 {
  font-size: var(--font-size-3);
}

.size4 {
  font-size: var(--font-size-4);
}

.size5 {
  font-size: var(--font-size-5);
}

.size6 {
  font-size: var(--font-size-6);
}

.size7 {
  font-size: var(--font-size-7);
}

/* font-weight */

.weightBold {
  font-weight: var(--font-weight-bold);
}

.weightNormal {
  font-weight: var(--font-weight-normal);
}

/* line-height */

.lineHeight0 {
  line-height: var(--line-height-0);
}

.lineHeight1 {
  line-height: var(--line-height-1);
}

.lineHeight2 {
  line-height: var(--line-height-2);
}

.lineHeight3 {
  line-height: var(--line-height-3);
}

/* text-align */

.alignCenter {
  text-align: center;
}

.alignEnd {
  text-align: end;
}

.alignStart {
  text-align: start;
}

/* text-transform */

.transformUppercase {
  text-transform: uppercase;
}
