/* text-align */

.alignCenter {
  text-align: center;
}

.alignEnd {
  text-align: end;
}

.alignStart {
  text-align: start;
}

/* text-transform */

.transformUppercase {
  text-transform: uppercase;
}
